.small-text{
    width: 114px;
    height: 14px;
    margin-left: 24px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    /* Dark Grey */
    color: #333333;
}

.large-text{
    width: 255px;
    height: 64px;
    margin-left: 24px;
    margin-top: 9px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.05em;
    color: #333333;
}
.label-name{
    margin-top: 32px;
}
.label{
    margin-top: 16px;
}
.user-input{
    margin: 12px 0 16px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px 16px;
    gap: 4px;
    width: calc(312px - 32px);
    height: calc(56px - 36px);
    background: #F4F4F4;
    border-radius: 8px;
    outline: none;
}

.user-input::placeholder{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #333333;
    opacity: 0.5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.register-btn{
    position: absolute;
    background-color: #F2C94C;
    bottom: 14px;
}